@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    .card {
        flex-wrap: wrap;
    }
    .card-block {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }
    .header-navbar a {
        display: none;
    }
    .header button {
        display: none;
    }
    .card {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
    }
    .footer img {
        padding: 0 0 20px 0;
    }
}

@media (max-width: 576px) {
    .hero p {
        width: 90%;
    }
    .hero h1 {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .hero h1 {
        font-size: 33px;
    }
    .btn-one {
        padding: 15px 45px;
    }
    .btn-two {
        padding: 15px 45px;
    }
}

@media (max-width: 400px) {
    .hero-buttons {
        flex-direction: column;
    }
    .btn-one {
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    
}

@media (max-width: 320px) {
    .hero h1 {
        line-height: 44px;
    }
    .card-block {
        width: 238px;
        height: 246px;
    }
    .card-block p {
        width: 219px;
    }
}